#wrapper {
    width: 60%;
    margin: auto;
    padding-top: 2%
}

#content {
    float: left;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8%;
    width: 650px;
}

#nav {
    float: left;
    display: inline;
    width: 160px;
}

#greeting-container {
  margin-top: 20px;
}

img {
    max-width: 100%;
    max-height: 100%
}

a, a:visited { 
    color: #000; 
    outline: 0; 
}

a:hover, a:focus { 
    color: #003fff; 
}

p a, p a:visited { 
    line-height: inherit; 
}

ul { 
    display: inline-block;
    margin-top: 0px;
    list-style: none; 
    padding-inline-start: 5px;
}

li {
    margin-bottom: 10px;
}